<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <!-- 로그인 -->
    <form method="POST">
        <!-- CSRF 보호를 위한 CSRF 토큰 추가 -->
        {% csrf_token %}
        <!-- 사용자 이름 입력 필드 -->
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <!-- 비밀번호 입력 필드 -->
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <!-- 로그인 버튼 -->
        <button type="submit">Login</button>
    </form>
</body>
</html>
